MapServer Template
<table id='GMLTable' border=1>

<tr><td>Precinct:</td><td>[precinct]</td></tr>

<tr><td>Number of Crashes:</td><td>[number_of_crashes]</td></tr>

<tr><td>Crash Density:</td><td>[crash_densities]</td></tr>

<tr><td>Area Size (sq. mi.):</td><td>[area_sizes]</td></tr>

</table>
