

      #map {
        width: 100%;
        height: 100%;
      }

      nav {
        width: 100%; //width should be a percentage for responsiveness
        height: 40px; //height should be px. Adjust to your liking
        background-color: #0b98de;
      }

        nav a {
          display: block;
          float: left;

          font-family: sans-serif;
          font-size: 15px;
          color: white;

          background-color: #17b0cf;
          border: 1px solid #000;


          padding-top: 20px;
          padding-right: 10px;
          padding-bottom: 10px;
          padding-left: 10px;

          text-decoration: none;
       }

        nav a:hover {
        }




/**panel for navigation bar


#map {
        width: 800px;
        height: 600px;
      }


      html, body {
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-size: small;
      }



nav {
  width: 100%; //width should be a percentage for responsiveness
  height: 40px; //height should be px. Adjust to your liking
  background-color: #0b98de;
}

  nav a {
    display: block;
    float: left;

    font-family: sans-serif;
    font-size: 15px;
    color: white;

    background-color: #17b0cf;
    border: 1px solid #000;


    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    text-decoration: none;
 }

  nav a:hover {
  }

  **/
